.first {
    height: 100px;
    width: 100px;

    background-color: black;
}

.second {
    height: 1rem;
    width: 1rem;

    background-color: red;
}

.third{
    height: 1em;
    width: 1em;

    background-color: green;
}

.big-font{
    font-size: 32px;
}